name: Daily Bets Generator

permissions:
  contents: write

on:
  workflow_dispatch:
  schedule:
    - cron: "0 9 * * *"  # exemple

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3
      with:
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Setup Node
      uses: actions/setup-node@v3
      with:
        node-version: 18

    - name: Install dependencies
      run: npm install

    - name: Run daily_bets.js
      run: node daily_bets.js

    - name: Commit & Push updates
      run: |
        git config --global user.name "GitHub Bot"
        git config --global user.email "bot@github.com"
        git add .
        git commit -m "Daily bets update" || echo "No changes to commit"
        git push
