name: Daily Bets

on:
  schedule:
    - cron: "0 6 * * *"   # 6h UTC = 7h heure Paris
  workflow_dispatch:      # permet lancement manuel

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Run daily script
        env:
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
          TZ: "Europe/Paris"
        run: node src/dailyRun.js
