name: Telegram Bot

on:
  workflow_dispatch:  # permet de le lancer manuellement
  push:
    paths:
      - "telegram_bot.js"

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install node-telegram-bot-api

      - name: Start Telegram bot
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
        run: node telegram_bot.js
